services:
  - type: web
    name: assignment-backend
    plan: free
    runtime: node
    region: oregon
    buildCommand: npm ci && npx prisma generate
    startCommand: node src/server.js
    rootDir: Pato/backend
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        value: your_jwt_secret_here_change_this
      - key: CORS_ALLOWED_ORIGINS
        value: https://assignment-frontend-64jd.onrender.com

  - type: static_site
    name: assignment-frontend
    plan: free
    runtime: static
    region: oregon
    buildCommand: cd Pato/frontend && npm ci && npm run build
    publishDirectory: Pato/frontend/out
    envVars:
      - key: NEXT_PUBLIC_API_URL
        value: https://assignment-backend-qzrq.onrender.com
    routes:
      - path: /*
        destination: /index.html
        status: 200

databases:
  - name: assignment-db
    plan: free
    region: oregon
    postgresSQLVersion: 15
